<div id="cover">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Facebook" target="_blank" href="https://www.facebook.com/groups/1186135311403391/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
